/* Varaibles */
@font-face {
    font-family: 'IRANyekan';
    src: url('./fonts/Yekan.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  :root{
    --primary:#2b73e3;
}
body{
    font-family: 'IRANyekan';
}
*{
    box-sizing: border-box;

}


/* 
    payment Header
*/
.payment{
    direction: rtl;
}
.payment__header::before{
    position: absolute;
    content: "";
    background-color: var(--primary);
    width: 100%;
    height: 6.5rem;
    transition: height .3s ;
    z-index: -4;
}

.header_main{
box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .06);
}


.header_mobile_title h3{
    line-height: 2.25;
}




/* end of payment Hader */


/* payment side */
.beneficiary::after,.merchent_info::after{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    background-color: #f2f3f7;
    height: 2px;
    width: 95%;
}
